.coverPicDiv{
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}
.coverPic{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    object-fit: cover;
}
.editCoverImage{
    position: absolute;
    top: 20px;
    right: 50px;
    /* width: 100%; */
}
.editCoverImage{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 13px 18px;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}
.profiledittalsFlex{
    padding: 25px 25px 35px 0;
    display: flex;
    justify-content: end;
    position: relative;
}
.profilePhotoDiv{
    width: 200px;
    height: 200px;
    border: 10px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-35px);
}
.profilePhoto{
    width: 100%;
}
.nameAndBio{
    width: 80%;
}
.profileNameFlexParrent{
    display: flex;
    justify-content: space-between;
}
.profileNameFlex{
    display: flex;
    gap: 10px;
    align-items: center;
}
.profileName{
    font-family: var(--barlow);
    font-weight: 700;
    font-size: 18px;
    color: var(--main-text-color);
}
.editProfileName{
    font-size: 18px;
    background: linear-gradient(180deg, #D8C281 0%, #AC9B69 100%) !important;
    color: #fff;
    cursor: pointer;
}
.updateNameHeading{
    margin-bottom: 40px;
    text-transform: capitalize;
    font-family: var(--barlow);
    font-weight: 700 ;
    font-size: 30px;
    color: var(--main-text-color);
}
.profileLocationFlex{
    display: flex;
    gap: 10px;
}
