.coverPicDiv{
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}
.coverPic{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    object-fit: cover;
}
.editCoverImage{
    position: absolute;
    top: 20px;
    right: 50px;
    /* width: 100%; */
}
.editCoverImage{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 13px 18px;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}
.profileDittals{
    background: #FFF;
}
.profiledittalsFlex{
    padding: 25px 25px 35px 0;
    display: flex;
    justify-content: end;
    position: relative;
}
.profilePhotoDiv{
    width: 200px;
    height: 200px;
    border: 10px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-35px);
}
.profilePhoto{
    width: 100%;
}
.nameAndBio{
    width: 80%;
}
.profileNameFlexParrent{
    display: flex;
    justify-content: space-between;
}
.profileNameFlex{
    display: flex;
    gap: 10px;
    align-items: center;
}
.profileName{
    font-family: var(--barlow);
    font-weight: 700;
    font-size: 18px;
    color: var(--main-text-color);
}
.editProfileName{
    font-size: 18px;
    background: linear-gradient(180deg, #D8C281 0%, #AC9B69 100%) !important;
    color: #fff;
    cursor: pointer;
}
.updateNameHeading{
    margin-bottom: 40px;
    text-transform: capitalize;
    font-family: var(--barlow);
    font-weight: 700 ;
    font-size: 30px;
    color: var(--main-text-color);
}
.profileLocationFlex{
    display: flex;
    gap: 10px;
}
.Bio{
    
    margin: 16px 0;
}
.bioText{
    font-family: var(--barlow);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--main-text-color);
}
.contactInfoBtn{
    width: 20%;
    text-transform: uppercase !important;
    font-family: var(--nunito) !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    color: #fff !important;
    padding: 9px 0 !important;
    border-radius: 8px !important;
    background: var(--main-gradiant-color);
    transition: .3s !important;
    margin-bottom: 20px ;
}
.contactInfoBtn:hover{
    background: var(--main-hover-gradiant-color);
}
.socialMediaHeading{
    margin-bottom: 40px;
    text-transform: capitalize;
    font-family: var(--barlow);
    font-weight: 700 ;
    font-size: 30px;
    color: var(--main-text-color);
}
.socialMediaList{
    display: flex;
    gap: 20px;
}
.socialMediaList a {
    font-size: 40px;
}
.facebookIconItem {
    background: linear-gradient(120deg, #3B5998 0%, #fff 100%) !important;
}
#profileBtnSec{
    padding: 30px 0;
}
.profileNavBtnFlex{
    display: flex;
    border-bottom: 2px solid #e7e7e7;
}
.proNavBtn{
    width: 300px;
    height: 40px;
    background: #fff;
    border: 2px solid #e7e7e7;
    text-align: center;
    cursor: pointer;
}
.counterRelative{
    position: relative;
}
.frRequestCount{
    position: absolute;
    top: 18px;
    right: 20px;
    font-family: var(--barlow);
    font-weight: 500 !important ;
    font-size: 24px !important;
    line-height: 0 !important;
    color: #d62121 !important;
}
.proNavBtn p {
    text-transform: uppercase;
    font-family: var(--barlow);
    font-weight: 500 ;
    font-size: 12px;
    line-height: 40px;
    color: var(--main-text-color);
}

.profileNavBtnFlex .active p {
    color: #fff;
    position: relative;
    z-index: 1;
    transition: all linear .3s;
}
.profileNavBtnFlex .active p::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-radius: 4px 4px 0 0;
    background: var(--main-gradiant-color);
    z-index: -1;
}
.profileNavBtnFlex .active .frRequestCount {
    color: #D8C281 !important;
    position: relative;
    z-index: 1;
    transition: all linear .3s;
}
.profileNavBtnFlex .active .frRequestCount {
    color: #d62121;
    position: absolute;
    z-index: 1;
    transition: all linear .3s;
}
.profileNavBtnFlex .active .frRequestCount::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 0;
    background: none;
    z-index: -1;
}
#profileAbout{
    margin-bottom: 30px;
}
.profileCatagoryBtn{
    padding: 10px 20px !important;
    border-radius: 5px !important;
    background: #FFF !important;
    text-transform: capitalize !important;
    font-family: var(--nunito) !important;
    font-weight: 600 !important;
    color: var(--secondery-text-color) !important;
    transition: all linear .3s !important;
}
.profileCatagoryBtn:hover{
    background: var(--main-hover-gradiant-color) !important;
    color: #fff !important;
}
.profileCatagoryBox{
    padding: 30px;
    background: #fff;
    border-radius: 4px;
}
.profileCatagoryHeadingFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.profileCatagoryHeading{
    text-transform: capitalize;
    font-family: var(--barlow);
    font-weight: 700;
    font-size: 18px;
    color: var(--main-text-color);
}
.aboutIcons{
    display: flex;
    gap: 10px;
}
.deleteProfileCatagory{
    font-size: 18px;
    background: linear-gradient(180deg, #df1b1b 0%, #d62121 100%) !important;
    color: #fff;
    cursor: pointer;
}
.aboutTextPra{
    text-transform: capitalize;
    font-family: var(--barlow);
    font-weight: 400 ;
    font-size: 14px;
    line-height: 150%;
    color: var(--main-text-color);
}



.profileCatagoryMainModalDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.uploadProfileCatagoryImageLabel{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.uploadProfileCatagoryImageDiv{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: green;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 10px;
}
.uploadProfileCatagoryImage{
    width: 100%;
    height: 100%;
    background-position: 0 0;
    background-size: cover;
    object-fit: cover;
}
.uploadProfileCatagoryImageInput{
    display: none;
}
.uploadProfileCatagoryImagePra{
    text-transform: capitalize;
    font-family: var(--barlow);
    font-weight: 400 ;
    font-size: 14px;
    line-height: 150%;
    color: var(--main-text-color);
    margin-bottom: 20px;
}

.catagoriItemLogoDiv {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.catagoriItemLogo {
    width: 100%;
    height: 100%;
}
.catagoriItemBox {
    display: flex;
    gap: 20px;
}
.profileCatagoryJobHeadingFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.jobTitle{
    text-transform: capitalize;
    font-family: var(--barlow);
    font-weight: 500;
    font-size: 16px;
}
.catagoriItemContent{
    width: 100%;
}
.subTitleAndConpanyName{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.subJob{
    text-transform: capitalize;
    font-family: var(--barlow);
    font-weight: 400;
    font-size: 12px;
}
.conpanyName{
    text-transform: capitalize;
    font-family: var(--barlow);
    font-weight: 300;
    font-size: 12px;
}
.dateClass{
    display: flex;
    align-items: center;
}
.jobTime{
    text-transform: capitalize;
    font-family: var(--barlow);
    font-weight: 300 ;
    font-size: 14px;
    color: #0275b1;
}

#profileExperience{
    margin-bottom: 40px;
}

.educationInfo {
    text-transform: capitalize;
    font-family: var(--barlow);
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 20px;
}

#userBox{
    width: 100%;
    height: 500px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 10px 19px -3px rgba(0,0,0,0.1);
}
.userBoxHeading {
    text-transform: capitalize;
    font-family: var(--barlow);
    font-weight: 700;
    font-size: 25px;
    color: var(--main-text-color);
    padding-bottom: 20px;
    border-bottom: 1px solid var(--secondery-text-color);
}


.usersBox{
    padding: 0 10px;
    
}
.user{
    width: 100%;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 16px 11px -3px rgba(0,0,0,0.1);
}
.userImageFlex{
    display: flex;
    gap: 20px;
    align-items: center;
}
.userImageDiv{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #0275b1;
    overflow: hidden;
}
.userImage{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-size: cover;

}
.userName{
    font-family: var(--barlow);
    font-weight: 600;
    font-size: 20px;
    color: var(--main-text-color);
    margin-bottom: 10px;
}
.userTime{
    font-family: var(--nunito);
    font-weight: 400;
    font-size: 13px;
    color: var(--main-text-color);
    margin-bottom: 10px;
}

.addFriendBtn{
    width: 130px;
    text-transform: capitalize !important;
    font-family: var(--nunito) !important;
    font-weight: 600 !important;
    font-size: 15px !important;
    color: #fff !important;
    padding: 8px 0 !important;
    border-radius: 85px !important;
    background: var(--main-gradiant-color);
    transition: .3s !important;
}
.addFriendBtn:hover{
    background: var(--main-hover-gradiant-color);
}

.friendIcon{
    color: #0275b1 !important;
    font-size: 30px;
    margin-right: 20px;
}
.blockIcon{
    color: rgba(214, 33, 33, 0.58) !important;
    font-size: 30px;
    margin-right: 20px;
}

.friendsRequestBtnFlex{
    display: flex;
    gap: 10px;
}



.addFriendBtn{
    width: 130px;
    text-transform: capitalize !important;
    font-family: var(--nunito) !important;
    font-weight: 600 !important;
    font-size: 15px !important;
    color: #fff !important;
    padding: 8px 0 !important;
    border-radius: 85px !important;
    background: var(--main-gradiant-color);
    transition: .3s !important;
}
.addFriendBtn:hover{
    background: var(--main-hover-gradiant-color);
}